@import '~bulma/sass/utilities/initial-variables';

$red: #ce473f;
// $green: #a9e12c;

$primary: $red;

$family-sans-serif: 'Raleway', sans-serif;

@import '~bulma/bulma';

// .nav {
//   box-shadow: none !important;
// }
